#male-rap, #female-rap, #male-pop, #female-pop, #male-classical, #female-classical {
  display: none;
}
body {
  background-color: lightblue;
}

.jumbotron {
  background-color: grey;
  color: white;

}
